/backend/proyectosESCOM/proyectosESCOM-web/target/
/backend/proyectosESCOM/proyectosESCOM-ejb/target/
/backend/proyectosESCOM/proyectosESCOM-ear/target/
/backend/proyectosESCOM/target/
/backend/proyectosESCOM/.scannerwork
/backend/.scannerwork
/frontend/SIMESCOM-view/.scannerwork
/frontend/SIMESCOM-view/node_modules/
/frontend/SIMESCOM-view/.vscode
/frontend/SIMESCOM-view/debug.log
.scannerwork